---
import SignUp from "../components/signup";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/images/logo.webp" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script src="https://kit.fontawesome.com/0414a0ccd5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>ServerDeploy</title>
  </head>
  <body class="flex flex-col justify-center items-center font-sans bg-[url('/images/background.jpg')] bg-no-repeat bg-fixed bg-cover">
    <SignUp />
  </body>
</html>
